.not-found-icon{
    height: 220px;
    width: 120px;
    margin-bottom: 0px;
    
}

.not-found-text h1{
    font-size: 100px;
    margin-bottom: 5%;
    line-height: 10px;
}
.not-found-text h3{
    margin: 0%;
    font-size: 30px;
    
}
.not-found-text{
    color: gray;
    text-align: center;
}