.reviews-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 30px;
}
.customer-reviews{
    margin-top: 30px;
}
.foods{
    display: flex;
    margin-top: 50px;
}
.foods img{
    width: 350px;
    height: 270px;
    margin-right: 50px;
    margin-left: 150px;
    border-radius: 15px;
}
.food{
    margin-left: 50px;
}
.food strong{
    font-size: 45px;
    line-height: 30px;
}
.best-food{
    color:cornflowerblue
}
.food .btn{
   background-color: salmon;
   border-radius: 60px;
   font-size: 20px;
   color:white;
}
.all-reviews{
  margin-left:40%;
  width: 20%;
  color:white;
  background-color: cornflowerblue;
  font-size: 20px;
   border-radius: 60px;
   margin-bottom: 50px;
}
/* -------------------------------------------
               Media Queries 
------------------------------------------*/
/* @media (min-width: 1025px) and (max-width: 1280px) {
    .reviews-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
  }

@media (min-width: 481px) and (max-width: 767px) {
  
    .reviews-container{
        grid-template-columns: repeat(1, 1fr);
    }
} */
/* @media (min-width: 320px) and (max-width: 480px) {
    .reviews-container{
        grid-template-columns: repeat(1, 1fr);
    }
  } */
  @media only screen and (max-width: 600px) {

    .reviews-container{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .foods{
        display: grid;
        grid-template-columns: 1fr ;
    } 
}