 /* Footer part start */
 footer{
    background-color:rgba(100, 148, 237, 0.774);
    height:auto;
    width:auto;
    text-align: center;
    color:white;
}
.footvar{
    font-size:10px;
}
.icon{
    margin-bottom:25px;
}
